
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	padding: 0;
	margin: 0;
	background-color: dimgray;
}
#infoBox{
	color: black;
}
#landingBanner{
	width: 840px;
	overflow: hidden;
}
h1{
	margin: 10px;
}
#landingBanner h1{
	display: block;
	width: 200px;
	text-align: center;
	padding: 10px 0;
	margin: 0;
	float: left;
	margin: 0 20px;
	border: 5px solid darkred;
	cursor: pointer;
}
.active{
	background-color: darkslategray;
}
#locationInformation{
}
.underline{
	border-bottom: 5px solid darkred;
}
#countryFlag{
	float: right;
	width: 600px;
	margin: 0 50px;
}
#map{
	float: left;
	height: 600px;
	width: 600px;
	margin-right: 200px;
}