
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	padding: 0;
	margin: 0;
	background-color: dimgray;
}
#header{
	position: absolute;
	top: 10px;
	right: 10px;
}
#header ul{
	margin: 0 auto;
}
#currentPage{
	background-color: blueviolet;
}
#header li{
	width: 10vw;
	padding: 10px 0;
	margin: 0 2vw;
	float: left;
	list-style-type: none;
	text-decoration: none;
	background-color: skyblue;
	border: 5px solid darkblue;
	color: black;
	text-align: center;
}
#header li:hover{
	background-color: blueviolet;
}

#infoBox{
	color: black;
}
#landingBanner{
	width: 100vw;
	overflow: hidden;
}
h1{
	margin: 10px;
}
#landingBanner h1{
	display: block;
	min-width: 200px;
	text-align: center;
	padding: 10px 0;
	margin: 0;
	float: left;
	margin: 0 20px;
	border: 5px solid darkred;
	cursor: pointer;
}
.active{
	background-color: darkslategray;
}
#locationInformation{
}
.underline{
	border-bottom: 5px solid darkred;
}
#countryFlag{
	float: right;
	width: 600px;
	margin: 0 50px;
}
#map{
	float: left;
	height: 600px;
	width: 600px;
	margin-right: 200px;
}