body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: darkred;
	margin: 0;
	padding: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
	overflow: hidden;
	height: 100vh;
}
#header{
	position: absolute;
	z-index: 10;
	top: 10px;
	right: 10px;
}
#header ul{
	margin: 0 auto;
}
#header li{
	width: 10vw;
	padding: 10px 0;
	margin: 0 2vw;
	float: left;
	list-style-type: none;
	text-decoration: none;
	background-color: skyblue;
	border: 5px solid darkblue;
	color: black;
	text-align: center;
}
#header li:hover{
	background-color: blueviolet;
}
#currentPage{
	background-color: blueviolet;
}
#backgroundImage{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background-image: url("../mars_outflow_mud.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
#clockSetter{
	position: relative;
	z-index: 2;
	margin-top: 30vh;
	text-align: center;
	font-size: 150px;
	color: darkred;
}