body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: darkred;
	background-color: dimgray;
}
.clockContainer{
	display: inline-flex;
	display: -webkit-inline-flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}
.clock{
	position: relative;
	font-size: 100px;
}