
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	background-color: dimgray;
	margin: 0;
	padding: 0;
}
.branding{
	font-size: 4vw;
	max-width: 100%;
	text-align: center;
	border-bottom: 5px solid darkred;
	padding-bottom: 1.5%;
}
.branding span{
	color: darkred;
}
.maininterface{
	margin: 0 10%;
}
.windowSize50{
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 50vh;
	justify-content: center;
	overflow: hidden;
}
.windowSize50 section{
	width: 50%;
	height: 100%;
	border: 5px solid darkred;
	padding: 10px;
	overflow: hidden;
}
.windowSize33{
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 50vh;
	justify-content: center;
	
}
.windowSize33 section{
	width: 33.100033%;
	height: 100%;
	border: 5px solid darkred;
	padding: 10px;
	overflow: hidden;
}
input{
	border: none;
	border-bottom: 1px solid darkred;
	background-color: dimgray;
	margin-bottom: 1vh;
}
textarea{
	border: none;
	box-sizing: border-box;
	width: 100%;
	height: 20vh;
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid darkred;
	background-color: dimgray;
	resize: none;
	margin-bottom: 20px;
}
input[type=submit]{
	border: 1px solid darkred;
	background-color: darkslategray;
}
input:focus, textarea:focus{
	transition: border 0.1s ease-out;
	border-bottom: 5px solid darkred;
}
.landingImage{
	display: flex;
	display: -webkit-flex; 
	width:100%;
	height: 80%;
	background:	url(../mars_outflow_mud.jpg) no-repeat;
	overflow: hidden;
}
.landingText{
	justify-content: center;
	align-items: center;
	margin: auto 5%;
	padding: 20px;
	opacity: 0;
	font-size: 20px;
	color: white;
	font-weight: 700;
	overflow: hidden;
}
.landingImage:hover .landingText{
	background-color: black;
}